---
layout: layouts/content.njk
---
<h1>Current Pillow Stock</h1>
<div style="display: flex; flex-wrap: wrap;">
{% for pillow in catalog %}
<div class="cafe-card">
  	<figure class="image">
        <a href="/static/img/{{ pillow.Image }}"><img class='card-image' src="/static/img/thumb_{{ pillow.Image }}" alt="{{ pillow.Name }}"></a>
	</figure>
  <div class="cafe-inner">
    <p class="cafe-city">{{ pillow.Name }}</p>
    <p class="cafe-name">Quantity Available: {{ pillow.Quantity }}</p>
  </div>
</div>
{% endfor %}
</div>
