<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if metaDescription %}{{ metaDescription }}{% else %}{{ site.description }}{% endif %}">
    <meta name="p:domain_verify" content="56a09d05eea0d9025bcaf463d0cdabb9"/>
    <title>Catnipporium | {{ title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="static/favicon/site.webmanifest">
  </head>
  <body>
  <!-- Navbar Section -->
    <div class="header">
        <h1>Catnipporium</h1>
        <p>Premium Handcrafted Catnip Toys Your Cats Will Love</p>
    </div>

    <nav class="nav">

        <a href="/">Home</a>
        <a href="/shop/">Shop</a>
        <a href="/retail/">Wholesale</a>
        <a href="/catcafes/">Cat Cafe Directory</a>
        <a href="/products/">Products</a>
        <a href="/about/">About Us</a>
        <a href="/contact/">Contact</a>
    </nav>
  <!-- End Navbar -->
    <main class="main">
      {{ content | safe }}
    </main>
    <footer class="footer">
        <p>Contact us: hi@catnipporium.com</p>
        <p>Made with love in Ohio</p>
    </footer>
  </body>
</html>
